h1{
    margin-left: 1.5rem;
    font-size: 24px;
    font-weight: 700;
    color: #04383f;
}

.card-body{
    font-size: 18px;
    font-weight: bold;
    color: #04383f;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.card-head{
    font-size: 18px;
    font-weight: bold;
    color: #04383f;
}