<h1>Dashboard</h1>
<hr />
<div class="card">
  <div class="card-head">Lung Cancer</div>
  <div class="card-body">
    An estimated 1.9 million new cancer cases were diagnosed in 2021 in the
    United States and more than 600k people died from cancer the same year-
    making cancer a worldwide conundrum. Lungs cancer is no exception with about
    236,740 cases in 2022 in the United States. However, in most cases, lung
    cancer is not diagnosed at an early stage which eventually risks the
    patient’s life as chances of survival are reduced.
    <br />
    <br />
    <figure>
        &nbsp; &nbsp; &nbsp;
        <img src="./assets/healthylung.jpg" width="150" height="150" alt="healty lung" class="center">    
        &nbsp; &nbsp; &nbsp;
        <img src="./assets/cancerlung.jpg" width="150" height="150" alt="cancer lung" class="center">
        <figcaption style="font-size: 12px;"> &nbsp; &nbsp; &nbsp; &nbsp; Figure 1.1 (a) Healthy Lung  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;(b) Tumor in Lung</figcaption>
    </figure>
    <br />
    This issue becomes worst in the developing countries like Pakistan where the
    doctors, radiologists, and equipments are not readily available. In such
    situations medical image analysis serves a vital role for diagnosis of lung
    cancer.
    <br />
    Recently many approaches based on AI, ML, and DL have been used for
    automatic detection and segmentation of lung tumors. This helps in reducing
    the doctors’ involvement and time taken for manual detection of tumors thus
    providing more people an opportunity to beat cancer in the early stages.
  </div>
</div>

<div class="card">
  <div
    class="card-head"
    style="background-color: #04383f; color: #fff; border-radius: 5px"
  >
    Why IMADOT?
  </div>
  <div class="card-body">
    Existing attempts at lung tumor segmentation are based mainly on the
    features extracted from the CT scans. IMADOT provides a multimodal approach
    that performs feature fusion on CT and PET scans. The reason of combining
    two modalities is to make use of the prodigious benefits of both scans at
    the same time.
    <br /><br />
    Moreover, the 3D visualization will assist the doctors in analysis of tumors
    and surrounding cells and tissues. This will provide anatomical information
    that is difficult to obtain from the traditional methods. This will also
    help in improving the accuracy and decision making process in radiotherapy.
    <br /><br>
    <div class="card-body-two">
      <div class="sub-card-two">
        <h4>IMADOT Workflow</h4><hr><br>
          <img src="./assets/workflow.png" alt="workflow" class="info">
      </div>
      
      <div class="sub-card-two">
        <h4>IMADOT Poster</h4><hr><br>
          <img src="./assets/poster.png" alt="poster" class="info">
      </div>
    </div>
</div>

<br /><br />
<hr />
<br />

<!--


    <div class="card">
    <div class="card-head">Lung Cancer</div>
    <div class="card-body">
        An estimated 1.9 million new cancer cases were diagnosed in 2021 in the United States and more than 600k people died from cancer the same year- making cancer a worldwide conundrum. Lungs cancer is no exception with about 236,740 cases in 2022 in the United States.   
        However, in most cases, lung cancer is not diagnosed at an early stage which eventually risks the patient’s life as chances of survival are reduced. 
        <br> <br>
        <figure>
            &nbsp; &nbsp; &nbsp;
            <img src="./assets/healthylung.jpg" width="300" height="300" alt="healty lung" class="center">    
            &nbsp; &nbsp; &nbsp;
            <img src="./assets/cancerlung.jpg" width="300" height="300" alt="cancer lung" class="center">
            <figcaption> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Figure 1.1 (a) Healthy Lung &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;(b) Tumor in Lung</figcaption>
          </figure>
          <br><br>
        This issue becomes worst in the developing countries like Pakistan where the doctors, radiologists, and equipments are not readily available. In such situations medical image analysis serves a vital role for diagnosis of lung cancer. 
        <br><br>
        <figure>
            &nbsp; &nbsp; &nbsp;
            <img src="./assets/cancerinmales.jpg" width="550" height="400" alt="Lung Cancer Stats" class="center">
            &nbsp; &nbsp; &nbsp;
            <img src="./assets/cancerinfemales.jpg" width="550" height="400" alt="Lung Cancer Stats" class="center">
          </figure>
        <br><br>
        Recently many approaches based on AI, ML, and DL have been used for automatic detection and segmentation of lung tumors. This helps in reducing the doctors’ involvement and time taken for manual detection of tumors thus providing more people an opportunity to beat cancer in the early stages.
    </div>
</div>


<div class="card">
    <div class="card-head" style="background-color:#263238; color: #fff; border-radius: 5px;">Why IMADOT?</div>
    <div class="card-body">
        Existing attempts at lung tumor segmentation are based mainly on the features extracted from the CT scans. 
        IMADOT provides a multimodal approach that performs feature fusion on CT and PET scans. The reason of combining two modalities is to make use of the prodigious benefits of both scans at the same time. 
        <br><br>
        Moreover, the 3D visualization will assist the doctors in analysis of tumors and surrounding cells and tissues. This will provide anatomical information that is difficult to obtain from the traditional methods. This will also help in improving the accuracy and decision making process in radiotherapy.
        <br><br>
    </div>
</div>



-->
