h1{
    margin-left: 1.5rem;
    font-size: 24px;
    font-weight: 700;
    color: #04383f;
}

.card-body{
    font-weight: 50;
    color: #04383f;
}

.card-head{
    font-size: 18px;
    font-weight: bold;
    color: #04383f;
}

input {
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 10px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
  }
  
  input:focus {
    border-color: #04383f;
    box-shadow: 0 0 8px 0 #04383f;
  }
  